body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
header {
    background-color: burlywood;
    color: orange
    padding: 10px;
    text-align: center;
}
nav ul{
    list-style-type: none
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}main {
    padding: 20px
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

footer {
background-color: burlywood ;
color: brown;
padding: 10px;
position: absolute;
bottom: 0px;
text-align: center;
left: 40% 
}