/* Targets everything and removes all spaces inside and outside of it */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(white , burlywood);
    height: 100%;
}

header {
    background-color: burlywood;
    color: brown;
    padding: 10px;
    text-align: center;
}

h1 {
    color: black;
}

nav ul {
    list-style-type: none;
    text-align: center;
    /* border: 1px solid black; */
    padding: 30px 0px 30px 0px;
}

nav ul li {
    display: inline;
    margin: 0px 20px 0px 20px;
}

main {
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
    border: 10px solid bisque;
}

img {
    width:300px;
    /* height: auto; */
    margin-bottom: 20px;
    /* display: block; */
}

footer {
    background-color: burlywood;
    color: brown;
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.75;
}
li {
    text-align: center;
    font-family: fantasy;
    margin: 20px auto 20px auto;
}

ol {
    width: 500px;
    margin: 0px auto 0px auto ;
}

/* Chat container styles */
.chat-container {
    border: 1px solid burlywood;
    width: 300px;
    height: 300px;
    position: fixed;
    right: 20px;
    bottom: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

label {
    display: block;
    margin: 20px 20px 20px 20px;
}

textarea {
    width: 200px;
    height: 50px;
}

button {
    width: 100px;
    height: 35px;
}
h3 {
    margin: 30px auto 30px auto;
    width: 500px;
}

#pic1 {
}

#pic2 {
    top: 900px;
}

#pic1, #pic2 {
    position: absolute;
    left: 30px;
    width: 400px;
    height: 600px;
}
